<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EventCast Admin</title>
        <link rel="stylesheet" href="/topcoat/css/normalize.css" />
        <link rel="stylesheet" href="/topcoat/css/topcoat-desktop.css" />
        <script data-main="js/controller" src="js/libs/require.js"></script>
    </head>
    <body class="bg-slategray">
        <div class="container">
            <section id="projects">
                <header>
                    <h1 id="projectName">Project</h1>
                </header>
            </section>
            <section id="screens">
                <header>
                    <h1>Screens</h1>
                </header>
                <p><span id=screenList class="button-group large"></span></p>
            </section>
            <section>
                <header>
                    <h1>Overlays</h1>
                </header>
                <div id=overlayList></div>
            </section>
            <section>
                <header>
                    <h1>Variables</h1>
                </header>
                <table id="variableTable"></table>
            </section>
        </div>
    </body>
</html>