<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EventCast Admin</title>
        <script data-main="js/controller" src="js/libs/require.js"></script>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
    </head>
    <body>
        <div class="container">
            <section id="projects">
                <header>
                    <h1>Project</h1>
                </header>
                <p class="name"></p>
            </section>
            <section id="screens">
                <header>
                    <h1>Screens</h1>
                </header>
                <ul id=screenList></ul>
            </section>
            <section>
                <header>
                    <h1>Overlays</h1>
                </header>
                <ul id=overlayList></ul>
            </section>
        </div>
    </body>
</html>