<html>
    <head>
        <title>Channel List - EventCast</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/eventcast.css" type="text/css" />
    </head>
    <body class="channelList">

        <div class="container">
            <h1>EventCast</h1>

            <h2>Select Channel</h2>
            <table class="table table-bordered">
{{#projects}}
                <tr>
                    <td><a href="/player#{{name}}">{{description}}</a></td>
                    <td><a href="/admin#{{name}}" class="btn">Admin</a></td>
                </tr>
{{/projects}}
            </table>

        </div>
    </body>
</html>