<html>
    <head>
        <title>Channel List - EventCast</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/eventcast.css" type="text/css" />
    </head>
    <body class="channelList">

        <div class="container">
            <h1>EventCast</h1>

            <h2>Select Channel</h2>
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a href="/player#demo">Demo</a>
                </li>
                <li>
                    <a href="/player#demo2">Demo 2</a>
                </li>
                <li>
                    <a href="/player#demo3" class="protected">Demo 3</a>
                </li>
            </ul>
            <footer>
                <a href="#" class="button small">Admin</a>
            </footer>

        </div>
    </body>
</html>