body {
    background-color: black;
    }

#canvas {
    margin: 0 auto;
    width: 800px;
    height: 640px;
    
    background-color: white;
    
    position: relative;
    overflow: hidden;
    }
    
.screen {
    display: none;
    width: 800px;
    height: 640px;
    
    position: absolute;
    }
    
.emptyScreen {
    background-color: lime;
    }
    
.digitalClockScreen {
    background-color: blue;
}

.twitterwall {
    background-color: yellow;
}

.logo {
    background-color: white;
    width: 80px;
    height: 80px;
    z-index: 9999;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hidden {
    display: none;
}